<!-- base.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Prognoza cen energii{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">Strona główna</a>
        <a href="/predict">Prognozuj cenę</a>
        <a href="/about">O projekcie</a>
        <a href="/me">O mnie</a>
        <a href="/contact">Kontakt</a>
        <a href="/stats">Statystyki</a>
        <a href="/history">Historia prognoz</a> <!-- 💡 TU -->
        <a href="/downloads">Do pobrania</a>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>