{% extends "base.html" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
<h1>📬 Kontakt</h1>
<p>
    Masz pytania, sugestie lub chcesz się skontaktować w sprawie projektu?
    <br>Skorzystaj z poniższych danych kontaktowych:
</p>
<ul>
    <li>📧 Email: <a href="mailto:marcin.kasprzak92@gmail.com">marcin.kasprzak92@gmail.com</a></li>
    <li>🏫 Uczelnia: Merito Warszawa</li>
    <li>🔗 LinkedIn: <a href="#">(tu możesz dodać link do swojego profilu)</a></li>
</ul>
<p>
    Jeśli chcesz podzielić się uwagami dotyczącymi działania aplikacji lub masz pomysł na rozwój – śmiało napisz!
</p>
{% endblock %}
